<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="image/ico" href="images/icon.png" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
  </head>
  <script>
    $(document).ready(function(){
      $(".btnBanner").click(function(){
        var position = $("#content").offset().top - 200;
        console.log(position);
        $('html, body').animate({
					scrollTop: position
				}, 1500);
      });

      $(".btnSec3").click(function(){
        var position = $("#content").offset().top - 200;
        console.log(position);
        $('html, body').animate({
					scrollTop: position
				}, 1500);
      });

      var i2a = 0;

      var offset = $(".item2").offset();
      $(".item2Over").css("top", offset.top - 5 - $(window).scrollTop());
      $(".item2Over").css("left", offset.left - 5);

      window.onscroll = function(e) {
        if(i2a == 0){
          $(".item2Over").css("top", offset.top - 5 - $(window).scrollTop());
          $(".item2Over").css("left", offset.left - 5);
        }
      }


      $(window).resize(function(){
        console.log($(window).height());
        if(i2a == 0){
          var offset = $(".item2").offset();
          $(".item2Over").css("top", offset.top - 5 - $(window).scrollTop());
          $(".item2Over").css("left", offset.left - 5);
        }
      });



      $(".item2").click(function(){
        i2a = 1;
        $(".item2Over").css("visibility", "visible");
        $(".item2Over").animate({
          opacity: "1.0"
        }, 200);

        $(this).animate({
          opacity: "0"
        }, 500);

        $(".modalBack").css("visibility", "visible");

        var lefty = $(window).width() / 2 - 250;
        var heighty = $(window).height() / 2 - 350;
        setTimeout(function(){
          $(".item2Over").animate({
            width: "500px",
            height: "700px",
            left: lefty,
            top: heighty,
            backgroundColor: "#fff"
          }, 500);

          $(".modalBack").animate({
            opacity: "0.5"
          }, 500);
        }, 200);

      });



      $(".modalBack").click(function(){
        i2a = 0;

        setTimeout(function(){
          $(".item2").css("opacity", "1");
          $(".modalBack").css("visibility", "hidden");
        }, 700);



        var heighty = $(".item2").offset().top - 5 - $(window).scrollTop();
        var lefty = $(".item2").offset().left - 5;

        setTimeout(function(){
          $(".item2Over").animate({
            width: "400",
            height: "250px",
            left: lefty,
            top: heighty,
            backgroundColor: "#17d378"
          }, 500);

          $(".modalBack").animate({
            opacity: "0"
          }, 500);
        }, 200);

        setTimeout(function(){
          $(".item2Over").css("visibility", "hidden");
        }, 700)
      });

      $(".fa-instagram").click(function(){
        window.location.href = "https://www.instagram.com/";
      });

      $(".fa-facebook-f").click(function(){
        window.location.href = "https://www.facebook.com/";
      });

      /*
      var i2a = 0;


      $(".item2").click(function(){
        if(i2a == 0)
        {
          i2a = 1;
          $(".iconItem2").css("display", "none");
          $(".tituloItem2").css("display", "none");
          $(".descItem2").css("display", "none");
          $(".item2").css("pointer-events", "none");

          $(".item2").animate({
            height: "350px",
            backgroundColor: "#fff"
          }, 500);
          setTimeout( function()
          {
            $(".modalForm").css("display", "block");
            $(".item2").css("background", "#fff");
            $(".item2").css("border-radius", "10px");
            $(".item2").css("border-bottom", "solid #aaa");
            $(".item2").css("border-right", "solid #aaa");
            $(".modalClose").css("pointer-events", "all");
            $(".modalInput").css("pointer-events", "all");
          }, 500);
        }
      });

      $(".modalClose").click(function(){
        $(".modalForm").css("display", "none");
        $(".iconItem2").css("display", "block");
        $(".tituloItem2").css("display", "block");
        $(".descItem2").css("display", "block");

        $(".item2").animate({
          height: "250px",
          backgroundColor: "#17d378"
        }, 500);

        setTimeout(function (){
          $(".item2").css("border-radius", "");
          $(".item2").css("border-bottom", "");
          $(".item2").css("border-right", "");
        }, 500);
        setTimeout(function(){
          $(".item2").css("pointer-events", "all");
          i2a = 0;
        }, 500);
      });

      $(".modalInput").click(function(){
        alert("Abrir Modal");

      });*/



    });
  </script>


  <body>

    		<script>
        /*
    			var modal = document.getElementById('modal')
    			var btn = document.getElementById("btnAbrir")
    			var span = document.getElementsByClassName("close")[0]

    			btn.onclick = function() {
    				modal.style.display = "block";
    			}

    			span.onclick = function() {
    				modal.style.display = "none";
    			}

    			window.onclick = function(event) {
    				if (event.target == modal) {
    					modal.style.display = "none";
    				}
    			}*/
    		</script>


  <div class="banner">
    <div class="slider">
      <figure>
        <img src="images/slider1.jpg"/>
        <img src="images/slider2.jpg"/>
        <img src="images/slider3.jpg"/>
        <img src="images/slider4.jpg"/>
        <img src="images/slider5.jpg"/ />
      </figure>
    </div>
    <div class="bannerContent">
    <span class="headerTitle" >REDAPRO</span>
    <button class="btnBanner" type="button" name="saibamais">saiba mais</button>
  </div>
</div>

    <span class="section1Title">NOSSOS SERVIÇOS</span>

    <div id="content">
      <div class="item item1" onclick="window.location='/redacoes';">
        <img class="iconItem iconItem1" src="images/redacao.png" width="100" />
        <span class="tituloItem tituloItem1">Redações</span>
        <span class="descItem descItem1">Escreva a redação com os<br>temas propostos</span>
      </div>

      <div class="modalBack"></div>
      <div class="item item2Over">



            <form class="formModal" method="post" action="/fileUpload" enctype="multipart/form-data">
              Nome:<br>
              <input type="text" name="aluno"><br>

              E-Mail:<br>
              <input type="mail" name="email"><br>

              Titulo da Redação:<br>
              <input type="text" name="titulo"><br>

              Tema da Redação:<br>
              <input type="text" name="tema"><br>

              Arquivo:<br>
              <input type="file" name="arquivo"><br><br>

              <input type="submit" value="Submit">
            </form>


      </div>

      <div class="item item2"> <!-- onclick="window.location='/envio';"> -->

        <form class="modalForm">
          <input class="modalInput">
          <span class="modalspan">Clique para adicionar e enviar o arquivo</span>
          <span class="modalClose">x</span>
          <img class="modalImg" src="images/arquivo.png">
        </form>

        <img class="iconItem iconItem2" src="images/envio.png" width="100" />
        <span class="tituloItem tituloItem2">Envio</span>
        <span class="descItem descItem2">Envie sua redação para<br>ser corrigida pelo professor</span>
      </div>

      <div class="item" onclick="window.location='/loginProfessor';">
        <img class="iconItem" src="images/analise.png" width="100"  />
        <span class="tituloItem">Análise</span>
        <span class="descItem">Sua redação será analisada,<br>corrigida e revisada<br>pelo professor</span>
      </div>
    </div>

    <div class="content2">
      <span class="titleSec2">QUEM<br>SOU!</span>
      <div id="avatar"></div>
      <span class="sec2Desc">Sou um professor buscando<br>melhorar o desempenho dos<br>alunos nas redações para o<br>enem para alcançar as notas<br>desejadas</span>
      <div class="socials">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
      </div>
    </div>


    <div class="content3">
      <span class="sec3Msg">ENVIE SUA REDAÇÃO AGORA<br>PARA O PROFESSOR</span>
      <button class="btnSec3" type="button" name="contato">Voltar Para Cima</button>
    </div>

    <footer>
        <span class="txtFoot">Haken 2019 Team2 Project</span>
    </footer>
  </body>
</html>
