<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="image/ico" href="images/icon.png" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
  </head>
  <script>
    $(document).ready(function(){
      $(".btnBanner").click(function(){
        var position = $("#content").offset().top - 200;
        console.log(position);
        $('html, body').animate({
					scrollTop: position
				}, 1500);
      });

      $(".btnSec3").click(function(){
        var position = $("#content").offset().top - 200;
        console.log(position);
        $('html, body').animate({
					scrollTop: position
				}, 1500);
      });

      $(".formInput").val("");

      var i2a = 0;

      var offset = $(".item2").offset();
      $(".item2Over").css("top", offset.top - 5 - $(window).scrollTop());
      $(".item2Over").css("left", offset.left - 5);

      window.onscroll = function(e) {
        if(i2a == 0){
          $(".item2Over").css("top", offset.top - 5 - $(window).scrollTop());
          $(".item2Over").css("left", offset.left - 5);
        }
      }


      $(window).resize(function(){
        if(i2a == 0){
          var offset = $(".item2").offset();
          $(".item2Over").css("top", offset.top - 5 - $(window).scrollTop());
          $(".item2Over").css("left", offset.left - 5);
        }
      });



      $(".item2").click(function(){
        i2a = 1;
        $(".item2Over").css("visibility", "visible");
        $(".item2Over").animate({
          opacity: "1.0"
        }, 200);

        $(this).animate({
          opacity: "0"
        }, 500);

        $(".txtNome").val("");
        $(".txtEmail").val("");
        $(".txtTitulo").val("");
        $(".txtTema").children("option:selected").val("");

        $(".modalBack").css("visibility", "visible");

        var lefty = $(window).width() / 2 - 270;
        var heighty = $(window).height() / 2 - $(window).height() * 0.9 / 2;
        var tall = $(window).height() * 0.9 - 40;
        setTimeout(function(){
          $(".item2Over").animate({
            width: "500px",
            height: tall,
            left: lefty,
            top: heighty,
            backgroundColor: "#fff"
          }, 500);

          $(".modalBack").animate({
            opacity: "0.5"
          }, 500);

          $("form").animate({
            opacity: "1"
          }, 500);

        }, 200);

      });



      $(".modalBack").click(function(){
        i2a = 0;

        setTimeout(function(){
          $(".item2").css("opacity", "1");
          $(".modalBack").css("visibility", "hidden");
        }, 700);

        $("form").animate({
          opacity: "0"
        }, 500);



        var heighty = $(".item2").offset().top - 5 - $(window).scrollTop();
        var lefty = $(".item2").offset().left - 5;

        setTimeout(function(){
          $(".item2Over").animate({
            width: "360",
            height: "210px",
            left: lefty,
            top: heighty,
            backgroundColor: "#17d378"
          }, 500);

          $(".modalBack").animate({
            opacity: "0"
          }, 500);
        }, 200);

        setTimeout(function(){
          $(".item2Over").css("visibility", "hidden");
        }, 700)
      });

      $(".fa-instagram").click(function(){
        window.location.href = "https://www.instagram.com/";
      });

      $(".fa-facebook-f").click(function(){
        window.location.href = "https://www.facebook.com/";
      });





      $("*").click(function(){
        if($(this).attr("class") != "txtNome"){
          if($(".txtNome").val().trim().length > 0){
            $(".overNome").css("transform", "scale(0.77) translateY(-28px) translateX(-10px)");
          }
          else {
            $(".overNome").css("transform", "");
          }
        }


        if($(this).attr("class") != "txtEmail"){
          if($(".txtEmail").val().trim().length > 0){
            $(".overEmail").css("transform", "scale(0.77) translateY(-28px) translateX(-10px)");
          }
          else {
            $(".overEmail").css("transform", "");
          }
        }

        if($(this).attr("class") != "txtTitulo"){
          if($(".txtTitulo").val().trim().length > 0){
            $(".overTitulo").css("transform", "scale(0.77) translateY(-28px) translateX(-25px)");
          }
          else {
            $(".overTitulo").css("transform", "");
          }
        }

        if($(this).attr("class") != "txtTema"){
          if($(".txtTema").children("option:selected").val().trim().length > 0){
            $(".overTema").css("transform", "scale(0.77) translateY(-28px) translateX(-25px)");
          }
          else {
            $(".overTema").css("transform", "");
          }
        }


        if($(".txtNome").val().trim().length > 0 && $(".txtEmail").val().trim().length > 0 && $(".txtTitulo").val().trim().length > 0 && $(".txtTema").val().trim().length > 0 && $(".arquivoMsg").text() == "1 arquivo selecionado")
        {
          $(".formBtn").css("background-color", "#17d378");
          $(".formBtn").css("pointer-events", "all");

        }
        else {
          $(".formBtn").css("background-color", "#aaa");
          $(".formBtn").css("pointer-events", "none");
        }
      });


      $("*").keydown(function(){

        if($(this).attr("class") != "txtNome"){
          if($(".txtNome").val().trim().length > 0){
            $(".overNome").css("transform", "scale(0.77) translateY(-28px) translateX(-10px)");
          }
          else {
            $(".overNome").css("transform", "");
          }
        }


        if($(this).attr("class") != "txtEmail"){
          if($(".txtEmail").val().trim().length > 0){
            $(".overEmail").css("transform", "scale(0.77) translateY(-28px) translateX(-10px)");
          }
          else {
            $(".overEmail").css("transform", "");
          }
        }

        if($(this).attr("class") != "txtTitulo"){
          if($(".txtTitulo").val().trim().length > 0){
            $(".overTitulo").css("transform", "scale(0.77) translateY(-28px) translateX(-25px)");
          }
          else {
            $(".overTitulo").css("transform", "");
          }
        }

        if($(this).attr("class") != "txtTema"){
          if($(".txtTema").children("option:selected").val().trim().length > 0){
            $(".overTema").css("transform", "scale(0.77) translateY(-28px) translateX(-25px)");
          }
          else {
            $(".overTema").css("transform", "");
          }
        }

        if($(".txtNome").val().trim().length > 0 && $(".txtEmail").val().trim().length > 0 && $(".txtTitulo").val().trim().length > 0 && $(".txtTema").val().trim().length > 0 &&  $(".arquivoMsg").text() == "1 arquivo selecionado")
        {
          $(".formBtn").css("background-color", "#17d378");
          $(".formBtn").css("pointer-events", "all");
        }
        else {
          $(".formBtn").css("background-color", "#aaa");
          $(".formBtn").css("pointer-events", "none");
        }
      });

      $('.arquivoInput').change(function () {
        $('.arquivoMsg').text(this.files.length + " arquivo selecionado");
        if($(".txtNome").val().trim().length > 0 && $(".txtEmail").val().trim().length > 0 && $(".txtTitulo").val().trim().length > 0 && $(".txtTema").val().trim().length > 0 && $(".arquivoMsg").text() == "1 arquivo selecionado")
        {
          $(".formBtn").css("background-color", "#17d378");
          $(".formBtn").css("pointer-events", "all");
        }
        else {
          $(".formBtn").css("background-color", "#aaa");
          $(".formBtn").css("pointer-events", "none");
        }
      });



    });
  </script>


  <body>

  <div class="banner">
    <div class="slider">
      <figure>
        <img src="images/slider1.jpg"/>
        <img src="images/slider2.jpg"/>
        <img src="images/slider3.jpg"/>
        <img src="images/slider4.jpg"/>
        <img src="images/slider5.jpg"/ />
      </figure>
    </div>
    <div class="bannerContent">
    <span class="headerTitle" >REDAPRO</span>
    <button class="btnBanner" type="button" name="saibamais">saiba mais</button>
  </div>
</div>

    <span class="section1Title">NOSSOS SERVIÇOS</span>

    <div id="content">
      <div class="item item1" onclick="window.location='/redacoes';">
        <img class="iconItem iconItem1" src="images/redacao.png" width="100" />
        <span class="tituloItem tituloItem1">Redações</span>
        <span class="descItem descItem1">Escreva a redação com os<br>temas propostos</span>
      </div>

      <div class="modalBack"></div>

      <div class="item item2Over">

        <form class="formzin" action="/fileUpload" method="post" enctype="multipart/form-data">
          <input class="formInput txtNome" type="text" name="aluno">
          <div class="formSpan overNome">Nome</div>

          <input class="formInput txtEmail" type="mail" name="email">
          <div class="formSpan overEmail">Email</div>

          <input class="formInput txtTitulo" type="text" name="titulo">
          <div class="formSpan overTitulo">Titulo da Redação</div>

          <select class="formInput txtTema" name="tema">
            <option value="main"></option>
            <% temas.forEach((item) => { %>
                    <% var dia = item.hoje; %>
                    <% dia = dia.slice(0,2); %>
                    <% var mes = item.hoje; %>
                    <% mes = mes.slice(3,5); %>
                    <% var ano = item.hoje; %>
                    <% ano = ano.slice(6,10); %>
                    <% var today = new Date(); %>
                    <% var dd = String(today.getDate()).padStart(2, '0'); %>
                    <% var mm = String(today.getMonth() + 1).padStart(2, '0'); %>
                    <% var yyyy = today.getFullYear(); %>
                    <% if(dia >= dd && mes >= mm && ano >= yyyy){ %>
            <option><%= item.nome; %></option>
                    <% } %>
            <% }) %>
          </select>
          <div class="formSpan overTema">Tema da Redação</div>
          <span class="arquivoMsg">Arraste o Arquivo Ou Clique Abaixo</span>
          <div class="overInput"></div>
          <input class="arquivoInput" type="file" name="upfile" value="">
          <img src="images/arquivo.png">
          <button class="formBtn" type="submit">Enviar</button>
        </form>
        <!--

            <form class="formModal" method="post" action="/fileUpload" enctype="multipart/form-data">
              <input class="formInput txtNome" type="text" name="aluno">
              <div class="formSpan overNome">Nome</div>

              <input class="formInput txtEmail" type="mail" name="email">
              <div class="formSpan overEmail">Email</div>

              <input class="formInput txtTitulo" type="text" name="titulo">
              <div class="formSpan overTitulo">Titulo da Redação</div>

              <input class="formInput txtTema" type="text" name="tema">
              <div class="formSpan overTema">Tema da Redação</div>

              <span class="spanArquivo">Clique Ou Arraste Seu Arquivo Abaixo</span>
              <input class="formArquivo" type="file" name="upfile"><br><br>

              <input type="submit" value="Submit">
            </form>
          -->


      </div>

      <div class="item item2">

        <form class="modalForm">
          <input class="modalInput">
          <span class="modalspan">Clique para adicionar e enviar o arquivo</span>
          <span class="modalClose">x</span>
          <img class="modalImg" src="images/arquivo.png">
        </form>

        <img class="iconItem iconItem2" src="images/envio.png" width="100" />
        <span class="tituloItem tituloItem2">Envio</span>
        <span class="descItem descItem2">Envie sua redação para<br>ser corrigida pelo professor</span>
      </div>

      <div class="item" onclick="window.location='/loginProfessor';">
        <img class="iconItem" src="images/analise.png" width="100"  />
        <span class="tituloItem">Análise</span>
        <span class="descItem">Sua redação será analisada,<br>corrigida e revisada<br>pelo professor</span>
      </div>
    </div>

    <div class="content2">
      <span class="titleSec2">QUEM<br>SOU!</span>
      <div id="avatar"></div>
      <span class="sec2Desc">Sou um professor buscando<br>melhorar o desempenho dos<br>alunos nas redações para o<br>enem para alcançar as notas<br>desejadas</span>
      <div class="socials">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
      </div>
    </div>


    <div class="content3">
      <span class="sec3Msg">ENVIE SUA REDAÇÃO AGORA<br>PARA O PROFESSOR</span>
      <button class="btnSec3" type="button" name="contato">Voltar Para Cima</button>
    </div>

    <footer>
        <span class="txtFoot">Haken 2019 Team2 Project</span>
    </footer>
  </body>
</html>
