<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>landing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  </head>
  <body>

  <div class="banner">
    <header>
    <h1>REDAPRO<h1>


    <button type="button" name="saibamais">saiba mais</button>
  </header>
</div>

    <h1>NOSSOS SERVIÇOS</h1>

    <section id="content">
      <article class="item">
            <a href="#"><i class="fas fa-scroll"></i></a>
            <!-- <img src="/public/images/redacao.png" alt="envio" width="100" essa é a imagem original pra ser usada> -->
            <h2>Redações</h2>
            <p>Escreva a redação com os<br>temas propostos</p>
      </article>

      <article class="item">
          <a href="#"><i class="fas fa-paper-plane"></i></a>
          <!-- <img src="/public/images/envio.png" alt="envio" width="100" essa é a imagem original pra ser usada> -->
        <h2>Envio</h2>
        <p>Envie sua redação para<br>ser corrigida pelo professor</p>
      </article>

      <article class="item">
          <a href="#"><i class="fas fa-check"></i></a>
          <!-- <img src="/public/images/analise.png" alt="envio" width="100" > essa é a imagem original pra ser usada-->
        <h2>Análise</h2>
        <p>Sua redação será analisada,<br>corrigida e revisada<br>pelo professor</p>
      </article>
    </section>

    <h1>QUEM SOU!</h1>
    <div id="avatar"></div>
    <p>Sou um professor buscando<br>melhorar o desempenho dos<br>alunos nas redações para o<br>enem para alcançar as notas<br>desejadas</p>


    <h1>ENVIE UMA MENSAGEM<br>PARA O PROFESSOR</h1>
    <div class="botao">
      <button href="#" type="button" name="contato">contato</button>
    </div>


    <!--footer opcional pode ser retirado-->
    <footer>
        <p>Haken 2019 Team2 Project</p>
    </footer>
  </body>
</html>
