<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>landing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

  <div class="banner">
    <div class="bannerContent">
    <spam class="headerTitle" >REDAPRO</spam>
    <button class="btnBanner" type="button" name="saibamais">saiba mais</button>
  </div>
</div>

    <spam class="section1Title">NOSSOS SERVIÇOS</spam>

    <section id="content">
      <div class="item">
        <img class="iconItem" src="images/redacao.png" width="100" />
        <spam class="tituloItem">Redações</spam>
        <spam class="descItem">Escreva a redação com os<br>temas propostos</spam>
      </div>

      <div class="item">
        <img class="iconItem" src="images/envio.png" width="100" />
        <spam class="tituloItem">Envio</spam>
        <spam class="descItem">Envie sua redação para<br>ser corrigida pelo professor</spam>
      </div>

      <div class="item">
        <img class="iconItem" src="images/analise.png" width="100"  />
        <spam class="tituloItem">Análise</spam>
        <spam class="descItem">Sua redação será analisada,<br>corrigida e revisada<br>pelo professor</spam>
      </div>
    </section>

    <spam>QUEM SOU!</spam>
    <div id="avatar"></div>
    <p>Sou um professor buscando<br>melhorar o desempenho dos<br>alunos nas redações para o<br>enem para alcançar as notas<br>desejadas</p>


    <spam>ENVIE UMA MENSAGEM<br>PARA O PROFESSOR</spam>
    <div class="botao">
      <button type="button" name="contato">contato</button>
    </div>


    <!--footer opcional pode ser retirado-->
    <footer>
        <p>Haken 2019 Team2 Project</p>
    </footer>
  </body>
</html>
