h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #17d378;
  border-radius: 22px;
  padding: 15px 28px;
  font-size: 16px;
}


#banner{
  background-image: url("/public/images/front.jpg");
  background-color: #cccccc;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-image: url("/public/images/front1.jpg");
    background-size: cover;
}

#content {
  background: #e7eef5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#content h2 {
  color: white;
}

#content p {
  color: white;
}
#content a {
  color: white;
  font-size: 70px;
  padding-left: 10px;
}

.item {
  width: 100px;
  color: white;
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0,0.24);
  margin: 5px;
}

.botao {
  display: flex;
  flex-direction: column;
  align-items: center;
}
